<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/2.8/color-brewer.css">
    <link rel="stylesheet" href="/2.8/docs.css">
    <title>Sharegoods UI framework</title>
    <% if (process.env.NODE_ENV === 'production') { %>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <% } %>
</head>
<body>
<script>
    if (!window.Promise) {
        document.write('<script src="//cdn.jsdelivr.net/npm/es6-promise@4.1.1/dist/es6-promise.min.js"><\/script><script>ES6Promise.polyfill()<\/script>')
    }
</script>
<div id="app"></div>
</body>

</html>
